In [10]:
import json
import sys
sys.path.append('/Users/gisaac/Documents/GitHub/river_flow_notebooks/')

with open("scan_11059300.json") as f:
    data = json.load(f)

In [24]:
from scraping_functions import HydroScraper

In [13]:
from datetime import datetime
h = HydroScraper(datetime(1989, 1, 1), datetime(2024, 1, 18), "scan_11059300.json")

Getting request from USGS
http://waterservices.usgs.gov/nwis/iv/?format=rdb,1.0&sites=11059300&startDT=1989-01-01&endDT=2024-01-18&parameterCd=00060,00065,00045&siteStatus=all
Request finished

/Users/gisaac/Documents/GitHub/river_flow_notebooks/scraping_functions.py:92: DtypeWarning: Columns (1,4,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path, sep="\t")
/Users/gisaac/Documents/GitHub/river_flow_notebooks/scraping_functions.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["datetime"] = df["datetime"].map(lambda x: old_timezone.localize(datetime.strptime(x, "%Y-%m-%d %H:%M")).astimezone(new_timezone))
/Users/gisaac/Documents/GitHub/river_flow_notebooks/scraping_functions.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["cfs"] = pd.to_numeric(df['cfs'], errors='coerce')
/Users/gisaac/Documents/GitHub/river_flow_notebooks/weather_scraping_functions.py:31: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path) # , parse_dates=['valid']

       station             valid   tmpf   dwpf p01m     mslp    drct  \
0          SBD  1989-01-01 00:00  48.00  42.00    M  1014.80  340.00
1          SBD  1989-01-01 01:00  47.00  42.00    M  1014.80  330.00
2          SBD  1989-01-01 02:00  46.00  42.00    M  1015.00    0.00
3          SBD  1989-01-01 03:00  45.00  43.00    M  1014.70    0.00
4          SBD  1989-01-01 04:00  45.00  43.00    M  1014.80    0.00
...        ...               ...    ...    ...  ...      ...     ...
192899     SBD  2024-01-18 04:00  55.40  46.40  0.0        M  240.00
192900     SBD  2024-01-18 04:55  55.40  46.40  0.0        M  240.00
192901     SBD  2024-01-18 05:40  54.70  46.60  0.0        M    0.00
192902     SBD  2024-01-18 06:00  55.00  46.80  0.0        M    0.00
192903     SBD  2024-01-18 06:20  54.50  46.60  0.0        M    0.00

       ice_accretion_1hr
0                      M
1                      M
2                      M
3                      M
4                      M
...                  ...
192899                 M
192900                 M
192901                 M
192902                 M
192903                 M

[192904 rows x 8 columns]
       station             valid  tmpf  dwpf  p01m     mslp    drct  \
0          SBD  1989-01-01 00:00  48.0  42.0   NaN  1014.80  340.00
1          SBD  1989-01-01 01:00  47.0  42.0   NaN  1014.80  330.00
2          SBD  1989-01-01 02:00  46.0  42.0   NaN  1015.00    0.00
3          SBD  1989-01-01 03:00  45.0  43.0   NaN  1014.70    0.00
4          SBD  1989-01-01 04:00  45.0  43.0   NaN  1014.80    0.00
...        ...               ...   ...   ...   ...      ...     ...
192899     SBD  2024-01-18 04:00  55.4  46.4   0.0        M  240.00
192900     SBD  2024-01-18 04:55  55.4  46.4   0.0        M  240.00
192901     SBD  2024-01-18 05:40  54.7  46.6   0.0        M    0.00
192902     SBD  2024-01-18 06:00  55.0  46.8   0.0        M    0.00
192903     SBD  2024-01-18 06:20  54.5  46.6   0.0        M    0.00

       ice_accretion_1hr        hour_updated
0                      M 1989-01-01 00:00:00
1                      M 1989-01-01 01:00:00
2                      M 1989-01-01 02:00:00
3                      M 1989-01-01 03:00:00
4                      M 1989-01-01 04:00:00
...                  ...                 ...
192899                 M 2024-01-18 04:00:00
192900                 M 2024-01-18 05:00:00
192901                 M 2024-01-18 06:00:00
192902                 M 2024-01-18 06:00:00
192903                 M 2024-01-18 07:00:00

[192904 rows x 9 columns]
        Unnamed: 0         hour_updated  p01m             valid   tmpf  dwpf  \
0                0  1989-01-01 00:00:00   0.0  1989-01-01 00:00  48.00  42.0
1                1  1989-01-01 01:00:00   0.0  1989-01-01 01:00  47.00  42.0
2                2  1989-01-01 02:00:00   0.0  1989-01-01 02:00  46.00  42.0
3                3  1989-01-01 03:00:00   0.0  1989-01-01 03:00  45.00  43.0
4                4  1989-01-01 04:00:00   0.0  1989-01-01 04:00  45.00  43.0
...            ...                  ...   ...               ...    ...   ...
139730      139730  2024-01-18 02:00:00   0.0  2024-01-18 01:51  55.40  44.6
139731      139731  2024-01-18 04:00:00   0.0  2024-01-18 03:55  55.40  46.4
139732      139732  2024-01-18 05:00:00   0.0  2024-01-18 04:55  55.40  46.4
139733      139733  2024-01-18 06:00:00   0.0  2024-01-18 05:40  54.85  46.7
139734      139734  2024-01-18 07:00:00   0.0  2024-01-18 06:20  54.50  46.6

       ice_accretion_1hr     mslp    drct
0                      M  1014.80  340.00
1                      M  1014.80  330.00
2                      M  1015.00    0.00
3                      M  1014.70    0.00
4                      M  1014.80    0.00
...                  ...      ...     ...
139730                 M        M  240.00
139731                 M        M  240.00
139732                 M        M  240.00
139733                 M        M    0.00
139734                 M        M    0.00

[139735 rows x 9 columns]
        Unnamed: 0        hour_updated  p01m             valid   tmpf  dwpf  \
0                0 1989-01-01 00:00:00   0.0  1989-01-01 00:00  48.00  42.0
1                1 1989-01-01 01:00:00   0.0  1989-01-01 01:00  47.00  42.0
2                2 1989-01-01 02:00:00   0.0  1989-01-01 02:00  46.00  42.0
3                3 1989-01-01 03:00:00   0.0  1989-01-01 03:00  45.00  43.0
4                4 1989-01-01 04:00:00   0.0  1989-01-01 04:00  45.00  43.0
...            ...                 ...   ...               ...    ...   ...
139730      139730 2024-01-18 02:00:00   0.0  2024-01-18 01:51  55.40  44.6
139731      139731 2024-01-18 04:00:00   0.0  2024-01-18 03:55  55.40  46.4
139732      139732 2024-01-18 05:00:00   0.0  2024-01-18 04:55  55.40  46.4
139733      139733 2024-01-18 06:00:00   0.0  2024-01-18 05:40  54.85  46.7
139734      139734 2024-01-18 07:00:00   0.0  2024-01-18 06:20  54.50  46.6

       ice_accretion_1hr     mslp    drct
0                      M  1014.80  340.00
1                      M  1014.80  330.00
2                      M  1015.00    0.00
3                      M  1014.70    0.00
4                      M  1014.80    0.00
...                  ...      ...     ...
139730                 M        M  240.00
139731                 M        M  240.00
139732                 M        M  240.00
139733                 M        M    0.00
139734                 M        M    0.00

[139735 rows x 9 columns]
Scraping completed

In [14]:
h.combine_data()

In [15]:
h.joined_df

,hour_updated,p01m,valid,tmpf,dwpf,ice_accretion_1hr,mslp,drct,index,agency_cd,site_no,datetime,tz_cd,cfs,14206_00060_cd,height,14207_00065_cd
0,1989-02-03 08:00:00+00:00,0.0,1989-02-03 08:00,48.00,41.0,M,1022.10,0.00,1,USGS,11059300,1989-02-03 08:00:00+00:00,PST,41.0,A:[91],NaN,NaN
1,1989-02-03 09:00:00+00:00,0.0,1989-02-03 08:50,48.00,42.0,M,M,0.00,5,USGS,11059300,1989-02-03 09:00:00+00:00,PST,51.0,A:[91],NaN,NaN
2,1989-02-03 10:00:00+00:00,0.0,1989-02-03 09:12,48.00,42.0,M,M,0.00,9,USGS,11059300,1989-02-03 10:00:00+00:00,PST,44.0,A:[91],NaN,NaN
3,1989-02-03 11:00:00+00:00,0.0,1989-02-03 11:00,48.00,42.0,M,1021.60,0.00,13,USGS,11059300,1989-02-03 11:00:00+00:00,PST,44.0,A:[91],NaN,NaN
4,1989-02-03 12:00:00+00:00,0.0,1989-02-03 12:00,48.00,42.0,M,1021.40,0.00,17,USGS,11059300,1989-02-03 12:00:00+00:00,PST,33.0,A:[91],NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115793,2024-01-18 00:00:00+00:00,0.0,2024-01-17 23:53,60.80,44.6,M,M,0.00,1011071,USGS,11059300,2024-01-18 00:00:00+00:00,PST,25.5,P,2.89,P
115794,2024-01-18 02:00:00+00:00,0.0,2024-01-18 01:51,55.40,44.6,M,M,240.00,1011079,USGS,11059300,2024-01-18 02:00:00+00:00,PST,25.5,P,2.89,P
115795,2024-01-18 04:00:00+00:00,0.0,2024-01-18 03:55,55.40,46.4,M,M,240.00,1011087,USGS,11059300,2024-01-18 04:00:00+00:00,PST,28.6,P,2.91,P
115796,2024-01-18 05:00:00+00:00,0.0,2024-01-18 04:55,55.40,46.4,M,M,240.00,1011091,USGS,11059300,2024-01-18 05:00:00+00:00,PST,37.4,P,2.97,P
115797,2024-01-18 06:00:00+00:00,0.0,2024-01-18 05:40,54.85,46.7,M,M,0.00,1011095,USGS,11059300,2024-01-18 06:00:00+00:00,PST,25.5,P,2.89,P

In [16]:
h.combine_snotel_with_df()

The base URL for SNOTEL is below:
https://powderlines.kellysoftware.org/api/station/1110:NV:SNTL?start_date=1989-01-01&end_date=2024-01-18

In [17]:
h.final_df.to_csv("s11059300_89_24.csv")

In [18]:
import pandas as pd

In [19]:
!pwd

/Users/gisaac/Documents/GitHub/river_flow_notebooks/notebook_etl_building

In [46]:
sentinel_df = pd.read_csv("/Users/gisaac/Downloads/sent_data.csv")

In [22]:
h.combine_sentinel(sentinel_df)
h.final_df

KeyError: "None of [Index(['SENSING_TIME', 'BASE_URL'], dtype='object')] are in the [columns]"

In [49]:
def combine_sentinel(final_df, sentinel_df, tile):
    """ to combine the Sentinel data with the joined ASOS, USGS, and SNOTEL data.
    """
    sentinel_df = sentinel_df[sentinel_df["mgrs_tile"]==tile] 
    sentinel_df = sentinel_df[["sensing_time", "base_url"]]
    sentinel_df["SENSING_TIME"] = pd.to_datetime(sentinel_df["sensing_time"], utc=True, format='mixed').round('60min')
    final_df =final_df.merge(sentinel_df, left_on="hour_updated", right_on="SENSING_TIME", how="left")
    return final_df

fin_df = combine_sentinel(h.final_df, sentinel_df, "11SMT")
fin_df

,hour_updated,p01m,valid,tmpf,dwpf,ice_accretion_1hr,mslp,drct,index,agency_cd,...,Date,Snow Water Equivalent (in),Change In Snow Water Equivalent (in),Snow Depth (in),Change In Snow Depth (in),Observed Air Temperature (degrees farenheit),filled_snow,sensing_time,base_url,SENSING_TIME
0,1989-02-03 08:00:00+00:00,0.0,1989-02-03 08:00,48.00,41.0,M,1022.10,0.00,1,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaT
1,1989-02-03 09:00:00+00:00,0.0,1989-02-03 08:50,48.00,42.0,M,M,0.00,5,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaT
2,1989-02-03 10:00:00+00:00,0.0,1989-02-03 09:12,48.00,42.0,M,M,0.00,9,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaT
3,1989-02-03 11:00:00+00:00,0.0,1989-02-03 11:00,48.00,42.0,M,1021.60,0.00,13,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaT
4,1989-02-03 12:00:00+00:00,0.0,1989-02-03 12:00,48.00,42.0,M,1021.40,0.00,17,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,23,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115831,2024-01-18 00:00:00+00:00,0.0,2024-01-17 23:53,60.80,44.6,M,M,0.00,1011071,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaT
115832,2024-01-18 02:00:00+00:00,0.0,2024-01-18 01:51,55.40,44.6,M,M,240.00,1011079,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaT
115833,2024-01-18 04:00:00+00:00,0.0,2024-01-18 03:55,55.40,46.4,M,M,240.00,1011087,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaT
115834,2024-01-18 05:00:00+00:00,0.0,2024-01-18 04:55,55.40,46.4,M,M,240.00,1011091,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaT
115835,2024-01-18 06:00:00+00:00,0.0,2024-01-18 05:40,54.85,46.7,M,M,0.00,1011095,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaT

In [50]:
fin_df.dropna(subset=["base_url"])

,hour_updated,p01m,valid,tmpf,dwpf,ice_accretion_1hr,mslp,drct,index,agency_cd,...,Date,Snow Water Equivalent (in),Change In Snow Water Equivalent (in),Snow Depth (in),Change In Snow Depth (in),Observed Air Temperature (degrees farenheit),filled_snow,sensing_time,base_url,SENSING_TIME
58954,2015-08-10 19:00:00+00:00,0.0,2015-08-10 18:47,75.2,53.6,M,M,220.00,754513,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,0,2015-08-10 18:33:34 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2015-08-10 19:00:00+00:00
59086,2015-08-20 19:00:00+00:00,0.0,2015-08-20 18:47,75.2,57.2,M,M,300.00,755473,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,0,2015-08-20 18:33:19 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2015-08-20 19:00:00+00:00
59253,2015-09-02 19:00:00+00:00,0.0,2015-09-02 18:47,77.0,53.6,M,M,230.00,756721,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,0,2015-09-02 18:44:34 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2015-09-02 19:00:00+00:00
59345,2015-09-09 19:00:00+00:00,0.0,2015-09-09 18:48,98.6,53.6,M,M,270.00,757393,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,0,2015-09-09 18:33:11 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2015-09-09 19:00:00+00:00
59480,2015-09-19 19:00:00+00:00,0.0,2015-09-19 18:50,93.2,37.4,M,M,0.00,758353,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,0,2015-09-19 18:33:12 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2015-09-19 19:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115622,2024-01-08 19:00:00+00:00,0.0,2024-01-08 18:51,53.6,10.4,M,M,330.00,1010187,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,7,2024-01-08 18:44:55.046 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2024-01-08 19:00:00+00:00
115669,2024-01-10 19:00:00+00:00,0.0,2024-01-10 18:54,53.6,32.0,M,M,0.00,1010379,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,5,2024-01-10 18:35:02.294 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2024-01-10 19:00:00+00:00
115670,2024-01-10 19:00:00+00:00,0.0,2024-01-10 18:54,53.6,32.0,M,M,0.00,1010379,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,5,2024-01-10 18:35:02.294 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2024-01-10 19:00:00+00:00
115737,2024-01-13 19:00:00+00:00,0.0,2024-01-13 18:51,55.4,26.6,M,M,0.00,1010667,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,5,2024-01-13 18:44:57.847 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2024-01-13 19:00:00+00:00
115781,2024-01-15 19:00:00+00:00,0.0,2024-01-15 18:51,57.2,39.2,M,M,0.00,1010859,USGS,...,NaT,NaN,NaN,NaN,NaN,NaN,3,2024-01-15 18:34:56.988 UTC,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2024-01-15 19:00:00+00:00

In [47]:
 sentinel_df_11 = sentinel_df[sentinel_df["mgrs_tile"]=="11SMT"]

In [48]:
sentinel_df_11

,mgrs_tile,base_url,sensing_time,cloud_cover
146,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2017-09-01 18:39:59.64 UTC,2.127500
845,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2015-12-21 18:45:25.188 UTC,88.000000
1242,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2015-12-28 18:35:44.592 UTC,1.000000
4992,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2021-03-01 18:35:04.063 UTC,0.337300
5844,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2022-07-14 18:35:16.698 UTC,26.654575
...,...,...,...,...
3060558,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2023-04-05 18:35:07.188 UTC,0.000000
3061677,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2022-03-14 18:44:57.622 UTC,0.000000
3067798,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2020-05-15 18:35:09.265 UTC,0.000000
3075924,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2016-03-07 18:33:18.891 UTC,100.000000
3080062,11SMT,gs://gcp-public-data-sentinel-2/tiles/11/S/MT/...,2017-05-31 18:29:39.39 UTC,100.000000

In [51]:
find = fin_df

In [52]:
find.to_csv("final_11059300.csv")